html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  overflow: overlay; 
  background: var(--bgColor);
}    
  
:root { 
  --color: #2f86ff;
  --light: #e6f0ff;
  --bgColor: #eaecf0;
  --shadow: 0 0 18px rgba(0,0,0,0.1);
  --blueShadow: 0 5px 20px 2px rgba(95, 177, 233, 0.3);
  --green: #6dcc00;
  --red: #fc003f;
  --graytxt: #696e93;
  --white1: #fff;
  --white2: #fff;
  --dark1: #141719;
  --dark2: #1c2227;
}  
.grid {
  width: 1320px; 
  margin: auto;
}
.xgrid {
  padding: 50px 0;
}
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  width: 9px;
  height: 10px;
} 
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 10px;
}
.hidescroll::-webkit-scrollbar {
  display: none;
} 
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s;
  padding: 15px 30px;
  color: #fff;
  background: var(--color);
}
button:hover {
  box-shadow: var(--blueShadow);
}
button:active {
  transform: scale(0.96)
}
a { 
  text-decoration: none;
  color: #111;
}
a.linkable:hover {
  text-decoration: underline;
}
p {
  line-height: 1.8;
}
input, select, textarea {
  padding: 13px 10px;
  border: 1px solid #eee;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.3s;
  font-family: inherit;
} 
input::placeholder, textarea::placeholder {
  color: #bbb;
}
input:disabled {
  background: #f1f1f1
}
hr {
  border: none;
}
.linkable {
  cursor: pointer;
}
.capitalize {
  text-transform: capitalize
}

.App {
  width: 100%;
  min-height: 100vh;
  background: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
